@page "/employeeoverview"
@attribute [StreamRendering(true)]

<h1>Employee Overview</h1>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var employee in Employees)
        {
            <div class="col-6 col-lg-4 col-xl-3 col-xxl-3">
                <EmployeeCard Employee="employee"></EmployeeCard>
            </div>
        }
    </div>
}
