@page "/employeeoverview"
@* @attribute [StreamRendering(true)] - Because of the interactive mode this is no longer needed. I keep it as example. *@
@rendermode InteractiveServer

<h1>Employee Overview</h1>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickViewPopup Employee="_selectedEmployee"></QuickViewPopup>;
    <div class="row">
        @foreach (var employee in Employees)
        {
            <div class="col-6 col-lg-4 col-xl-3 col-xxl-3">
                <EmployeeCard Employee="employee"
                              EmployeeQuickViewClicked="ShowQuickViewPopup">
                </EmployeeCard>
            </div>
        }
    </div>
}
